* {
     box-sizing: border-box;
}
*:before, *:after {
     box-sizing: inherit;

}

body {
    background-color: lightblue;
}

.volkhov-regular {
  font-family: "Volkhov", serif;
  font-weight: 400;
  font-style: normal;
}

.volkhov-bold {
  font-family: "Volkhov", serif;
  font-weight: 700;
  font-style: normal;
}

.volkhov-regular-italic {
  font-family: "Volkhov", serif;
  font-weight: 400;
  font-style: italic;
}

.volkhov-bold-italic {
  font-family: "Volkhov", serif;
  font-weight: 700;
  font-style: italic;
}


h1 {
    font-size: 2.986rem;
    margin: 2rem;
    padding: 4rem;
}

h2 {
    font-size: 2.488rem;
    margin: 2rem;
    padding: 4rem;
}

h3{
    font-size: 2.074rem;
    Margin: 2rem;
    padding: 4rem;
}

p{
    line-height: 1.6875;
    margin: 2rem;
    padding: 4rem;
}

header{
    padding: 4rem;
}

.links {
    padding: 4rem;
}

.name{
    padding: 4rem;
}

.blame{
    padding: 4rem;
}

.game{
    padding: 4rem;
}

.fame{
    padding: 4rem;
}

footer{
    padding: 4rem;
}